# Database
MONGO_URI=mongodb://localhost:27017/task_management

# JWT
JWT_SECRET=your_jwt_secret_key_here
JWT_EXPIRE=30d

# Server
NODE_ENV=development
PORT=5000

# CORS
CLIENT_URL=http://localhost:5173
